:root {
    --main-body-bg-color: rgb(0, 29, 61);
    --main-bg-color: rgb(0, 53, 102);
    --main-button-color: rgb(230, 57, 70);
    --main-secondary-text-color: rgb(168, 218, 220);
    --main-text-color: rgb(241, 250, 238);
}

body {

    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    background-color: var(--main-body-bg-color);
    color: var(--main-text-color);
    font-family: 'Lato', sans-serif;
    


}
h1, h2, h3{
    letter-spacing: .1rem;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}